@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



/* GERAL */

*{
  padding: 0px;
  margin: 0px;
}

.App {
  padding: 0px 250px 0px 250px;
}

/* HEADER */

header{
  height: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 100px 0px 0px 0px;
}


/* SEARCH BAR */

.search-container{
  margin-top: 50px;
}

.search-bar{
  background-color: #FDECEC;
  display: flex;
  align-items: center;
  width: 700px;
  height: 55px;
  padding: 0px 13px 0px 13px;
  border-radius: 50px;
}

.search-input {
  background-color: #FDECEC;
  color: #FF1510;
  padding: 13px;
  border: none;
  outline: none;
  border-radius: 50px;
}

/* CARD */

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  justify-items: center;
  padding: 20px;

}

.card {
  border-radius: 7px;
  height: 350px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 230px;
}


.card-image {
  width: 90%;
  height: 200px;
  max-height: 100%;
}


.card-info{
  display: flex;
  justify-content: space-between;
  width: 200px;
}

/* FILTROS */


.filtros-container {
  padding: 20px;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  color: rgb(194, 194, 194);
  font-size: 15px;
  
}

.filtros-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  
}


.icon-filtro{
  width: 12%;
  position: relative;
  top: 5px;
  margin: 5px 5px 0px 0px;
}

.icon-toogle{
  width: 20%;
  position: relative;
  top: 8px;
}

.icon-heroi{
  position: relative;
  top: 8px;
}


.button-filtro-Order{
  background: none;
  border: none; 
  color: #FF1510;
  font-weight: 700;
  width: 200px;
}
.button-filtro{
  background: none;
  border: none; 
  color: #FF1510;
  font-weight: 700;
}

/* FAVORITAR */


.favoritar {
  background: none;
  border: none;
}
.favorito {
  background: none;
  border: none;
}

/* MODEL */


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: rgb(51, 51, 51);
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  height: 700px;
  overflow-y: auto;
  position: relative;
}

.modal-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

::-webkit-scrollbar{
  scrollbar-width: none;
}

footer {
  background-color: red;
  height: 80px;
  width: 100%;
  
}
