@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* GERAL */

* {
  padding: 0;
  margin: 0;
}

.App {
  padding: 0px 50px;
}

@media (min-width: 768px) {
  .App {
    padding: 0px 150px;
  }
}

@media (min-width: 1024px) {
  .App {
    padding: 0px 250px;
  }
}

/* HEADER */

header {
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 50px 0px;
}

header img {
  max-width: 100%;
  height: auto;
}

header h2 {
  text-align: center;
}

header p {
  text-align: center;
  max-width: 90%;
  margin: 10px auto;
}

/* SEARCH BAR */

.search-container {
  margin-top: 30px;
}

.search-bar {
  background-color: #FDECEC;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  height: 45px;
  padding: 0px 13px;
  border-radius: 50px;
}

.search-input {
  background-color: #FDECEC;
  color: #FF1510;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 50px;
  width: 100%;
}

/* CARD */

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  justify-items: center;
  padding: 20px;
}

.card {
  border-radius: 7px;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 200px;
}

.card-image {
  width: 90%;
  height: 150px;
  max-height: 100%;
}

.card-info {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

/* FILTROS */

.filtros-container {
  padding: 20px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  color: rgb(194, 194, 194);
  font-size: 15px;
}

@media (min-width: 768px) {
  .filtros-container {
    flex-direction: row;
  }
}

.filtros-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.icon-filtro {
  width: 10%;
  position: relative;
  top: 5px;
  margin: 5px 5px 0px 0px;
}

.icon-toogle {
  width: 15%;
  position: relative;
  top: 8px;
}

.icon-heroi {
  position: relative;
  top: 8px;
}

.button-filtro-Order {
  background: none;
  border: none;
  color: #FF1510;
  font-weight: 700;
  width: 100%;
  max-width: 200px;
  text-align: left;
}

.button-filtro {
  background: none;
  border: none;
  color: #FF1510;
  font-weight: 700;
  width: 100%;
  max-width: 200px;
  text-align: left;
}

/* FAVORITAR */

.favoritar {
  background: none;
  border: none;
}

.favorito {
  background: none;
  border: none;
}

/* MODAL */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: rgb(51, 51, 51);
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
  height: 80%;
  max-height: 700px;
  overflow-y: auto;
  position: relative;
}

.modal-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

/* SCROLLBAR HIDE */

::-webkit-scrollbar {
  display: none;
}

/* FOOTER */

footer {
  background-color: red;
  height: 80px;
  width: 100%;
}
